<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-websocket-server" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>cordova-plugin-websocket-server</name><js-module name="cordova-plugin-websocket-server" src="www/cordova-plugin-websocket-server.js"><clobbers target="cordova.plugins.cordova-plugin-websocket-server" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="cordova-plugin-websocket-server"><param name="android-package" value="cordova-plugin-websocket-server.cordova-plugin-websocket-server" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/cordova-plugin-websocket-server.java" target-dir="src/cordova-plugin-websocket-server/cordova-plugin-websocket-server" /></platform></plugin>