<?xml version='1.0' encoding='utf-8'?>
<plugin id="websocketServer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>websocketServer</name><js-module name="websocketServer" src="www/websocketServer.js"><clobbers target="cordova.plugins.websocketServer" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="websocketServer"><param name="android-package" value="websocketServer.websocketServer" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/websocketServer.java" target-dir="src/websocketServer/websocketServer" /></platform></plugin>