<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="websocketServer" version="1.0.0">
  <name>websocketServer</name>
  <js-module name="websocketServer" src="www/websocketServer.js">
	<clobbers target="cordova.plugins.websocketServer"/>
  </js-module>
  <platform name="android">
	<config-file parent="/*" target="res/xml/config.xml">
	  <feature name="websocketServer">
		<param name="android-package" value="websocketServer.websocketServer"/>
	  </feature>
	</config-file>
	<config-file parent="/*" target="AndroidManifest.xml"/>
	<source-file src="src/android/websocketServer.java" target-dir="src/websocketServer/websocketServer"/>
	<source-file src="src/org/java_websocket/WrappedByteChannel.java" target-dir="src/org/java_websocket/WrappedByteChannel"/>
	<source-file src="src/org/java_websocket/WebSocketServerFactory.java" target-dir="src/org/java_websocket/WebSocketServerFactory"/>
	<source-file src="src/org/java_websocket/WebSocketListener.java" target-dir="src/org/java_websocket/WebSocketListener"/>
	<source-file src="src/org/java_websocket/WebSocketImpl.java" target-dir="src/org/java_websocket/WebSocketImpl"/>
	<source-file src="src/org/java_websocket/WebSocketFactory.java" target-dir="src/org/java_websocket/WebSocketFactory"/>
	<source-file src="src/org/java_websocket/WebSocketAdapter.java" target-dir="src/org/java_websocket/WebSocketAdapter"/>
	<source-file src="src/org/java_websocket/WebSocket.java" target-dir="src/org/java_websocket/WebSocket"/>
	<source-file src="src/org/java_websocket/SSLSocketChannel2.java" target-dir="src/org/java_websocket/SSLSocketChannel2"/>
	<source-file src="src/org/java_websocket/SSLSocketChannel.java" target-dir="src/org/java_websocket/SSLSocketChannel"/>
	<source-file src="src/org/java_websocket/SocketChannelIOHelper.java" target-dir="src/org/java_websocket/SocketChannelIOHelper"/>
	<source-file src="src/org/java_websocket/AbstractWrappedByteChannel.java" target-dir="src/org/java_websocket/AbstractWrappedByteChannel"/>
	<source-file src="src/org/java_websocket/AbstractWebSocket.java" target-dir="src/org/java_websocket/AbstractWebSocket"/>
	<source-file src="src/org/java_websocket/util/Base64.java" target-dir="src/org/java_websocket/util/Base64"/>
	<source-file src="src/org/java_websocket/util/ByteBufferUtils.java" target-dir="src/org/java_websocket/util/ByteBufferUtils"/>
	<source-file src="src/org/java_websocket/util/Charsetfunctions.java" target-dir="src/org/java_websocket/util/Charsetfunctions"/>
	<source-file src="src/org/java_websocket/server/CustomSSLWebSocketServerFactory.java" target-dir="src/org/java_websocket/server/CustomSSLWebSocketServerFactory"/>
	<source-file src="src/org/java_websocket/server/DefaultSSLWebSocketServerFactory.java" target-dir="src/org/java_websocket/server/DefaultSSLWebSocketServerFactory"/>
	<source-file src="src/org/java_websocket/server/DefaultWebSocketServerFactory.java" target-dir="src/org/java_websocket/server/DefaultWebSocketServerFactory"/>
	<source-file src="src/org/java_websocket/server/WebSocketServer.java" target-dir="src/org/java_websocket/server/WebSocketServer"/>
	<source-file src="src/org/java_websocket/handshake/ClientHandshake.java" target-dir="src/org/java_websocket/handshake/ClientHandshake"/>
	<source-file src="src/org/java_websocket/handshake/ClientHandshakeBuilder.java" target-dir="src/org/java_websocket/handshake/ClientHandshakeBuilder"/>
	<source-file src="src/org/java_websocket/handshake/HandshakeBuilder.java" target-dir="src/org/java_websocket/handshake/HandshakeBuilder"/>
	<source-file src="src/org/java_websocket/handshake/Handshakedata.java" target-dir="src/org/java_websocket/handshake/Handshakedata"/>
	<source-file src="src/org/java_websocket/handshake/HandshakedataImpl1.java" target-dir="src/org/java_websocket/handshake/HandshakedataImpl1"/>
	<source-file src="src/org/java_websocket/handshake/HandshakeImpl1Client.java" target-dir="src/org/java_websocket/handshake/HandshakeImpl1Client"/>
	<source-file src="src/org/java_websocket/handshake/HandshakeImpl1Server.java" target-dir="src/org/java_websocket/handshake/HandshakeImpl1Server"/>
	<source-file src="src/org/java_websocket/handshake/ServerHandshake.java" target-dir="src/org/java_websocket/handshake/ServerHandshake"/>
	<source-file src="src/org/java_websocket/handshake/ServerHandshakeBuilder.java" target-dir="src/org/java_websocket/handshake/ServerHandshakeBuilder"/>
	<source-file src="src/org/java_websocket/framing/BinaryFrame.java" target-dir="src/org/java_websocket/framing/BinaryFrame"/>
	<source-file src="src/org/java_websocket/framing/CloseFrame.java" target-dir="src/org/java_websocket/framing/CloseFrame"/>
	<source-file src="src/org/java_websocket/framing/ContinuousFrame.java" target-dir="src/org/java_websocket/framing/ContinuousFrame"/>
	<source-file src="src/org/java_websocket/framing/ControlFrame.java" target-dir="src/org/java_websocket/framing/ControlFrame"/>
	<source-file src="src/org/java_websocket/framing/DataFrame.java" target-dir="src/org/java_websocket/framing/DataFrame"/>
	<source-file src="src/org/java_websocket/framing/Framedata.java" target-dir="src/org/java_websocket/framing/Framedata"/>
	<source-file src="src/org/java_websocket/framing/FramedataImpl1.java" target-dir="src/org/java_websocket/framing/FramedataImpl1"/>
	<source-file src="src/org/java_websocket/framing/PingFrame.java" target-dir="src/org/java_websocket/framing/PingFrame"/>
	<source-file src="src/org/java_websocket/framing/PongFrame.java" target-dir="src/org/java_websocket/framing/PongFrame"/>
	<source-file src="src/org/java_websocket/framing/TextFrame.java" target-dir="src/org/java_websocket/framing/TextFrame"/>
	<source-file src="src/org/java_websocket/extensions/CompressionExtension.java" target-dir="src/org/java_websocket/extensions/CompressionExtension"/>
	<source-file src="src/org/java_websocket/extensions/DefaultExtension.java" target-dir="src/org/java_websocket/extensions/DefaultExtension"/>
	<source-file src="src/org/java_websocket/extensions/IExtension.java" target-dir="src/org/java_websocket/extensions/IExtension"/>
	<source-file src="src/org/java_websocket/exceptions/IncompleteException.java" target-dir="src/org/java_websocket/exceptions/IncompleteException"/>
	<source-file src="src/org/java_websocket/exceptions/IncompleteHandshakeException.java" target-dir="src/org/java_websocket/exceptions/IncompleteHandshakeException"/>
	<source-file src="src/org/java_websocket/exceptions/InvalidDataException.java" target-dir="src/org/java_websocket/exceptions/InvalidDataException"/>
	<source-file src="src/org/java_websocket/exceptions/InvalidFrameException.java" target-dir="src/org/java_websocket/exceptions/InvalidFrameException"/>
	<source-file src="src/org/java_websocket/exceptions/InvalidHandshakeException.java" target-dir="src/org/java_websocket/exceptions/InvalidHandshakeException"/>
	<source-file src="src/org/java_websocket/exceptions/LimitExedeedException.java" target-dir="src/org/java_websocket/exceptions/LimitExedeedException"/>
	<source-file src="src/org/java_websocket/exceptions/NotSendableException.java" target-dir="src/org/java_websocket/exceptions/NotSendableException"/>
	<source-file src="src/org/java_websocket/exceptions/WebsocketNotConnectedException.java" target-dir="src/org/java_websocket/exceptions/WebsocketNotConnectedException"/>
	<source-file src="src/org/java_websocket/drafts/Draft.java" target-dir="src/org/java_websocket/drafts/Draft"/>
	<source-file src="src/org/java_websocket/drafts/Draft_6455.java" target-dir="src/org/java_websocket/drafts/Draft_6455"/>
	<source-file src="src/org/java_websocket/drafts/Draft_6455_WebRTC.java" target-dir="src/org/java_websocket/drafts/Draft_6455_WebRTC"/>
	<source-file src="src/org/java_websocket/client/AbstractClientProxyChannel.java" target-dir="src/org/java_websocket/client/AbstractClientProxyChannel"/>
	<source-file src="src/org/java_websocket/client/WebSocketClient.java" target-dir="src/org/java_websocket/client/WebSocketClient"/>
  </platform>
</plugin>